<div class="container">
  <h1>Add Bike, Battery or Charger to BBF records</h1>

  <div class="row">
    <%= render 'bikes/form' %>
  </div>

  <div class="row">
    <%= render 'batterys/form' %>
  </div>

</div>
