<h1> Add new bike </h1>


<form>
  <div class="form-group">
    <label for="motorSerialNo">Motor Serial no.</label>
    <input type="text" placeholder="BBF(M)N00000000">
  </div>
  <div class="form-group">
    <label for="batterySerialNo">Battery Serial no.</label>
    <input type="text" placeholder="BBF(B)N00000000">
  </div>
  <div class="form-group">
    <label for="chargerSerialNo">Charger Serial no.</label>
    <input type="text" placeholder="BBF(C)N00000000">
  </div>
  <div class="form-group">
    <label for="bikeColour">Colour</label>
    <select class="custom-select">
      <option selected>Choose Bike Colour</option>
      <option>Red</option>
      <option>Pink</option>
      <option>Blue</option>
      <option>Black</option>
      <option>Gold</option>
    </select>
    <button type="submit" class="btn btn-primary">Save bike</button>
  </div>
</form>

<div class="container">
  <div class="row">
    <div class="bikes-container col-md-6">
      Hello bikes
    </div>
  </div>
</div>
